/********************** GENERAL SETTINGS START **********************/
/* Color Palette and Typography Start */
/* End: Color Palette and Typography */
/* Universal Selector Start */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* End: Universal Selector */
/********************** SECTION SPECIFIC SETTINGS START **********************/
