/********************** GENERAL SETTINGS START **********************/
/* Color Palette and Typography Start */
/* End: Color Palette and Typography */
/* Universal Selector Start */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* End: Universal Selector */
/* Body Start */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #b3b4b6;
  background: #2e3744;
}
body span {
  font-weight: 500;
  color: #e64c3c;
}

/* End: Body */
/* Headings Start */
h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  color: #e0e4e8;
  font-size: 50px;
  font-weight: 600;
}

/* End: Headings */
/********************** END: GENERAL SETTINGS **********************/
/********************** SECTION SPECIFIC SETTINGS START **********************/
/* Header Start */
.page-header {
  display: flex;
  width: 100%;
  padding: 0 20px 0 20px;
  background-color: #15171c;
  flex-wrap: nowrap;
  align-items: center;
  height: 120px;
}
.page-header .page-header__item {
  flex: 0 1 100px;
}
.page-header img {
  height: 100px;
}
.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: left;
  padding-left: 20px;
}
@media all and (max-width: 480px) {
  .page-header .page-header__item:last-child {
    flex-grow: 0;
  }
}
@media all and (max-width: 480px) {
  .page-header {
    justify-content: center;
  }
}

/* End: Header */
