/********************** GENERAL SETTINGS START **********************/
/* Color Palette and Typography Start */
$brand-color-primary: #e64c3c;
$brand-color-secondary: lighten($brand-color-primary, 10%);
$base-color-primary: #15171c;
$base-color-secondary: #232922;
$base-color-secondary-light: #2e3744;
$text-color-primary: #e0e4e8;
$text-color-secondary: #b3b4b6;

$font-family-heading: "Barlow Condensed", sans-serif;
$font-family-base: "Montserrat", sans-serif;
$font-size-base: 20px;
$font-size-medium: 30px;
$font-size-large: 40px;
$font-size-x-large: 50px;
$font-size-xx-large: 60px;
$font-size-xxx-large: 70px;
$font-weight-base: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;
/* End: Color Palette and Typography */

/* Universal Selector Start */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* End: Universal Selector */

/* Body Start */
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: 1.6;
  color: $text-color-secondary;
  background: $base-color-secondary-light;
  span {
    font-weight: $font-weight-bold;
    color: $brand-color-primary;
  }
}
/* End: Body */

/* Headings Start */
@mixin heading-base {
  font-family: $font-family-heading;
  font-weight: $font-weight-bold;
  color: $text-color-primary;
}

h1 {
  @include heading-base;
  font-size: $font-size-x-large;
  font-weight: $font-weight-bolder;
}
/* End: Headings */

/********************** END: GENERAL SETTINGS **********************/

/********************** SECTION SPECIFIC SETTINGS START **********************/
/* Header Start */
.page-header {
  display: flex;
  width: 100%;
  padding: 0 20px 0 20px;
  background-color: $base-color-primary;
  flex-wrap: nowrap;
  align-items: center;
  height: 120px;
  .page-header__item {
    flex: 0 1 100px;
  }
  img {
    height: 100px;
  }
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
    @media all and (max-width: 480px) {
      flex-grow: 0;
    }
  }
  @media all and (max-width: 480px) {
    justify-content: center;
  }
}
/* End: Header */

